@font-face{
  font-family: Kanit-Bold;
  src: url(../fonts/kanit/Kanit-Bold.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: Kanit-Light;
  src: url(../fonts/kanit/Kanit-Light.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: Kanit-Medium;
  src: url(../fonts/kanit/Kanit-Medium.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: browab;
  src: url(../fonts/browab.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: DBADMANX;
  src: url(../fonts/DBADMANX.TTF);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: hemihead;
  src: url(../fonts/hemihead.ttf);
  font-style: normal;
  font-variant:initial;
}
 
@font-face{
  font-family: Kanit-Regular;
  src: url(../fonts/kanit/Kanit-Regular.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: FontAwesome;
  src: url(../fonts/fonts/FontAwesome.otf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: Linearicons-Free;
  src: url(../fonts/Linearicons-Free.ttf);
  font-style: normal;
  font-variant:initial;
}
 

/*html {
  scroll-behavior: smooth;
}*/
.none-pad{
  padding: 0px 0px 0px 0px !important;
} 
.none-right{
  margin-right: -15px;
} 
.none-left{
  margin-left: -15px;
} 


 
 
@media only screen and (max-width: 991px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }
  .none-xs{
    padding: 0px 0px 0px 0px !important;
  }
  .none-xs2{
    padding: 2px 2px 2px 2px !important;
  }
  .none-xxs{
    padding: -15px -15px -15px -15px !important;
  }
  .marx-15{
    margin-top: 15px;
  }
}
@media only screen and (min-width: 992px) { /* PC */
  .pc-x{
    display: none !important;
  } 
  .none-pc{
    padding: 0px 0px 0px 0px !important;
  }
}

a:hover{
  text-decoration: none;
}
/*.banner {
  height: 100vh;
}*/  
/*.navbar .dropdown:hover>.dropdown-menu {
  display: block;
}
*/ 
 
 
 
.baccaratwm-bg{
  background: url("../images/baccaratwm-bg.jpg")   ;
  height:100vh;
  background-size: cover;
  background-position: bottom center;  
   
}
.game-bg{
  background: url("../images/bg-game.png")   ;
  height:100vh;
  background-size: cover;
  background-position: bottom center;  
   
}
 

.roomModal1 .modal-content{
  background-color: transparent !important;
}
.roomModal1 .modal-content{
  border:4px solid #b62123 !important;  
  background: url("../images/bg-wa.jpg")   ;
  background-size: 200%;
  background-position: top center;  
  border-radius: 40px; 
}
.roomModal2 .modal-content{
  border:4px solid #0478e3 !important;  
 
  border-radius: 40px; 

  background: rgba(39,40,40,1);
  background: -moz-linear-gradient(top, rgba(39,40,40,1) 0%, rgba(53,53,53,1) 66%, rgba(0,0,0,1) 67%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(39,40,40,1)), color-stop(66%, rgba(53,53,53,1)), color-stop(67%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(39,40,40,1) 0%, rgba(53,53,53,1) 66%, rgba(0,0,0,1) 67%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top, rgba(39,40,40,1) 0%, rgba(53,53,53,1) 66%, rgba(0,0,0,1) 67%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(39,40,40,1) 0%, rgba(53,53,53,1) 66%, rgba(0,0,0,1) 67%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(39,40,40,1) 0%, rgba(53,53,53,1) 66%, rgba(0,0,0,1) 67%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272828', endColorstr='#000000', GradientType=0 );
}

.baccaratwm-bg2{
  background: url("../images/hb-bg1")   ;
  height:100vh;
  background-size: cover;
  background-position: bottom center;  
}
.baccaratbh-bg{
  background: url("../images/baccaratbh-bg.png")   ;
  height:100vh;
  background-size: cover;
  background-position: bottom center;  
   
}
.tap-top{
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(104,104,104,1)), color-stop(48%, rgba(104,104,104,1)), color-stop(51%, rgba(51,51,51,1)), color-stop(100%, rgba(51,51,51,1)));
  background: -webkit-linear-gradient(top, rgba(104,104,104,1) 0%, rgba(104,104,104,1) 48%, rgba(51,51,51,1) 51%, rgba(51,51,51,1) 100%);
  background: -o-linear-gradient(top, rgba(104,104,104,1) 0%, rgba(104,104,104,1) 48%, rgba(51,51,51,1) 51%, rgba(51,51,51,1) 100%);
  background: -ms-linear-gradient(top, rgba(104,104,104,1) 0%, rgba(104,104,104,1) 48%, rgba(51,51,51,1) 51%, rgba(51,51,51,1) 100%);
  background: linear-gradient(to bottom, rgba(104,104,104,1) 0%, rgba(104,104,104,1) 48%, rgba(51,51,51,1) 51%, rgba(51,51,51,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686868', endColorstr='#333333', GradientType=0 );
  border-bottom: 4px solid #1b8aed;
  box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.75);
}

.tap-top2{ 
  background: url("../images/bg-bgh.png")   ;
  height:100vh;
  background-size: cover;
  background-position: bottom center;  
  border-bottom: 4px solid #b62123;
  box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.75);
}

.point-b{
  border: 6px solid #117ce9;
  border-top: none;
  border-radius: 0 0 70px 70px;
  background-image: linear-gradient(to top, #000307, #040e1a, #051628, #021c37, #002246);
  font-family: browab;
  color: #c09a5e;
  font-size: 60px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 0px;
  height: 90px;
}
.point-b2{
  border: 6px solid #b62123;
  border-top: none;
  border-radius: 0 0 70px 70px;
  background-image: linear-gradient(to bottom, #350001, #2c0201, #230201, #180101, #050000);
  font-family: browab;
  color: #c09a5e;
  font-size: 60px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 0px;
  height: 90px;
}
.point-b img{
  height: 45px;
}
.point-b span{
  font-family: browab;
  color: #fff;
  font-size: 60px;
}
.point-b2 img{
  height: 45px;
}
.point-b2 span{
  font-family: browab;
  color: #fff;
  font-size: 60px;
}
.closew{
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
 
}
.closew img{
  width: 70px;
}




.btn-add-cedit:hover{
  color: #000;
}




.room-game .item{
  border:2px solid #0176e2;
  background: rgba(39,40,40,1);
  background: -moz-linear-gradient(top, rgba(39,40,40,1) 0%, rgba(53,53,53,1) 66%, rgba(0,0,0,1) 67%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(39,40,40,1)), color-stop(66%, rgba(53,53,53,1)), color-stop(67%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(39,40,40,1) 0%, rgba(53,53,53,1) 66%, rgba(0,0,0,1) 67%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top, rgba(39,40,40,1) 0%, rgba(53,53,53,1) 66%, rgba(0,0,0,1) 67%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(39,40,40,1) 0%, rgba(53,53,53,1) 66%, rgba(0,0,0,1) 67%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(39,40,40,1) 0%, rgba(53,53,53,1) 66%, rgba(0,0,0,1) 67%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272828', endColorstr='#000000', GradientType=0 );
  border-radius: 60px;
  padding: 10px  0px;
}

.room-game .item span{
  position: absolute;
  left: 0px;
 
  bottom: 0;
  color: #117ce9;
  font-family: browab;
 
}

.room-game .item h5{
  font-family: browab;
  font-size: 16px;
  color: #ffff;
  padding-bottom: 0px;
}
.room-game .item h1{
  font-family: browab;  
  color: #117ce9;
  position: absolute;
  top: 0;
  left: 0;
}
.room-game .item{
  margin-top: 30px;
}



/*sdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/

.room-game2 .item{
  border:2px solid #fff;
  background: rgba(39,40,40,1);
  background: -moz-linear-gradient(top, rgba(39,40,40,1) 0%, rgba(53,53,53,1) 66%, rgba(0,0,0,1) 67%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(39,40,40,1)), color-stop(66%, rgba(53,53,53,1)), color-stop(67%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(39,40,40,1) 0%, rgba(53,53,53,1) 66%, rgba(0,0,0,1) 67%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top, rgba(39,40,40,1) 0%, rgba(53,53,53,1) 66%, rgba(0,0,0,1) 67%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(39,40,40,1) 0%, rgba(53,53,53,1) 66%, rgba(0,0,0,1) 67%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(39,40,40,1) 0%, rgba(53,53,53,1) 66%, rgba(0,0,0,1) 67%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272828', endColorstr='#000000', GradientType=0 );
  border-radius: 60px;
  padding: 10px  0px;
}

.room-game2 .item span{
  position: absolute;
  left: 0px;
 
  bottom: 0;
  color: #117ce9;
  font-family: browab;
 
}

.room-game2 .item h5{
  font-family: browab;
  font-size: 16px;
  color: #ffff;
  padding-bottom: 0px;
}
.room-game2 .item h1{
  font-family: browab;  
  color: #b92224;
  position: absolute;
  top: 0;
  left: 0;
}
.room-game2 .item{
  margin-top: 30px;
}

/*sdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/



@media only screen and (max-width: 991px) { /* MOBILE */
  .room-game .item .b1{
    height: 50px;
  }
  .room-game .item .b2{
    height: 20px;
    display: inline;
    margin-top: -20px;
  }
  .room-game .item span{
    margin-left: 70px; 
    font-size: 22px;
    margin-bottom: -10px;
    margin-right: 20px;
  }
  .room-game .item h1{
    font-size: 60px;
    margin-left: 10px;
    margin-top: -5px;
  }


  .room-game2 .item .b1{
    height: 40px;
  }
  .room-game2 .item .b2{
    height: 20px;
    display: inline;
    margin-top: -20px;
  }

  .room-game2 .item span.room{
    position: absolute;
    right: 0;
    color: #fff;
    font-size: 20px;
    margin-left: 100px;
    top: 0;
    margin-top: -5px;
  }

  .room-game2 .item span.lox{
    position: absolute;
    right: 0;
    color: #b52123;
    font-size: 20px;
    margin-left: 100px;
    bottom: 0; 
    margin-bottom: -10px;
  }


  .room-game2 .item h1{
    font-size: 60px;
    margin-left: 10px;
    margin-top: -5px;
  }
 

  .log-img{
    padding: 15px;
    margin-top: 10px;
  }
  .log-img img:nth-child(1){
    display: inline;
    height: 30px;
    float: left;

  }
  .log-img img:nth-child(2){
    display: inline;
    height: 20px;
    float: left;
    margin-top: 10px;
    padding-left: 5px;
  }
  .user-wb {
    padding: 5px;
  }
  .user-wb .m{
    border:6px solid #117ce9;
    border-radius: 40px;
    background-color: #060a09;
    padding-top: 0px;
    height: 40px;
   
  }
  .user-wb .m img{
    width: 28px;
    margin-right: 15px;
  }
  .user-wb .m span{
    font-family: browab;
    font-size: 18px;
    color: #fff;
  }

  .user-bh {
    padding: 5px;
  }
  .user-bh .m{
    border:6px solid #b62123;
    border-radius: 40px;
    background-color: #060a09;
    padding-top: 0px;
    height: 40px;
   
  }
  .user-bh .m img{
    width: 28px;
    margin-right: 15px;
  }
  .user-bh .m span{
    font-family: browab;
    font-size: 18px;
    color: #fff;
  }


  .tap-top{    
    height: 60px;
  }
  .tap-top2{    
    height: 60px;
  }
  .tb-room tr td{
    padding: 0px;
  }
  .tb-room tr td div{
    padding: 0px;
  }
  .tb-room2 tr td{
    padding: 0px;
  }
  .tb-room2 tr td div{
    padding: 0px;
  }
  .tb-room tr td div{
    background-color: #145fac; 
    width: 23px;
    height: 23px; 
    margin-top: 2px;
  }
  .tb-room tr td div img{
    width: 100%;
    padding: 2px;
    margin-top: -2px;
  }
  
  .tb-room2 tr td div img{
    width: 100%;
    padding: 2px;
    margin-top: -2px;
  }

  .tb-room2 tr td div{
    background-color: #bbb; 
    width: 23px;
    height: 23px; 
    margin-top: 2px;
  }
  .btn-close-r{
    border:2px solid #c7984d;
    background-image: linear-gradient(to bottom, #a00000, #b10001, #c30001, #d50000, #e70000, #e70000, #e70000, #e70000, #d50000, #c30001, #b10001, #a00000);
    font-family: DBADMANX;
    color: #fff;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 30px;
   
  }
  .log-img p.r{
    color: #117ce9;
    font-family: browab;
    font-size: 28px;
    text-transform: uppercase;
    display: block;
    content: "";
    clear: both;
    position: absolute;
    margin-left: 35px;
    margin-top: 20px;
  }
  .log-img p.rx{
    color: #fff;
    font-family: browab;
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    content: "";
    clear: both;
    position: absolute;
    margin-left: 65px;
    margin-top: 0px;
  }
  .div-box1{
    position: absolute;
    margin-left: 120px;
  }
  .h-line h4{
    font-size: 16px;
    line-height: 90px;
    margin-right: 30px;
  }
  .h-line2 h4{
    font-size: 16px;
  }
  .wd-s span{
    color: #FFF;
    font-size: 20px;
    font-family: Kanit-Regular;
  }
  .wd-s{
    color: #FFF;
    font-size: 20px;
    font-family: Kanit-Regular;
    padding-top: 30px;
  }
  .b-w{
    width: 30px;
  }
  .centered-cedit{
    position: absolute;
    top:35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .btn-add-cedit{
    border: 4px solid #1b8aed;
    border-radius: 30px;
    padding: 4px 26px;
    color: #000;
    font-size: 30px;
    text-align: center;
    font-family: DBADMANX;
    background-image: linear-gradient(to bottom, #cdcdcd, #d9d9d9, #e4e4e4, #f0f0f0, #fcfcfc); 
 
  }
  .btn-add-cedit2{
    border: 4px solid #b52123;
    border-radius: 30px;
    padding: 4px 26px;
    color: #fff;
    font-size: 30px;
    text-align: center;
    font-family: DBADMANX;
    background-image: linear-gradient(to bottom, #350001, #2c0201, #230201, #180101, #050000);
 
  }
}
@media only screen and (min-width: 992px) { /* PC */
  .room-game .item .b1{
    height: 60px;
  }
  .room-game .item .b2{
    height: 35px;
    display: inline;
    margin-top: -20px;
  }
  .room-game .item span{
    margin-left: 80px; 
    font-size: 32px;
    margin-bottom: -10px;
    margin-right: 20px;
  }
  .room-game .item h1{
    font-size: 80px;
    margin-left: 10px;
    margin-top: -5px;
  }


  .room-game2 .item .b1{
    height: 60px;
  }
  .room-game2 .item .b2{
    height: 35px;
    display: inline;
    margin-top: -20px;
  }
  .room-game2 .item span.room{
    position: absolute;
    right: 0;
    color: #fff;
    font-size: 30px;
    margin-left: 150px;
    top: 0;
    margin-top: -5px;
  }

  .room-game2 .item span.lox{
    position: absolute;
    right: 0;
    color: #b52123;
    font-size: 30px;
    margin-left: 150px;
    bottom: 0; 
    margin-bottom: -10px;
  }

  .room-game2 .item h1{
    font-size: 80px;
    margin-left: 10px;
    margin-top: -5px;
  }



  .log-img img:nth-child(1){
    display: inline;
    height: 55px;
    float: left;

  }
  .log-img img:nth-child(2){
    display: inline;
    height: 30px;
    float: left;
    margin-top: 15px;
    padding-left: 10px;
  }
  .user-wb .m{
    border:4px solid #117ce9;
    border-radius: 40px;
    background-color: #060a09;
    padding-top: 0px;
    height: 50px;
   
  }
  .user-wb .m img{
    width: 44px;
    margin-top: -6px;
    margin-left: -1px;
  }
  .user-wb .m span{
    font-family: browab;
    font-size: 32px;
    color: #fff;
    padding-left: 25px;
    line-height: 44px;
    margin-top: 15px;
  }


  .user-bh .m{
    border:4px solid #b62123;
    border-radius: 40px;
    background-image: linear-gradient(to bottom, #350001, #2c0201, #230201, #180101, #050000);
    padding-top: 0px;
    height: 50px;
   
  }
  .user-bh .m img{
    width: 44px;
    margin-top: -6px;
    margin-left: -1px;
  }
  .user-bh .m span{
    font-family: browab;
    font-size: 32px;
    color: #fff;
    padding-left: 25px;
    line-height: 44px;
    margin-top: 15px;
  }




  .tap-top{    
    height: 115px;
  }
  .tap-top2{    
    height: 115px;
  }
  .tb-room tr td div{
    background-color: #145fac; 
    width: 35px;
    height: 35px;
    padding: 2px !important;
  }
  .tb-room2 tr td div{
    background-color: #bbbbbb; 
    width: 35px;
    height: 35px;
    padding: 2px !important;
  }
  .btn-close-r{
    border:2px solid #c7984d;
    background-image: linear-gradient(to bottom, #a00000, #b10001, #c30001, #d50000, #e70000, #e70000, #e70000, #e70000, #d50000, #c30001, #b10001, #a00000);
    font-family: DBADMANX;
    color: #fff;
    font-size: 40px;
    padding: 5px 15px;
    border-radius: 30px;
  }
  .log-img p.r{
    color: #117ce9;
    font-family: browab;
    font-size: 38px;
    text-transform: uppercase;
    display: block;
    content: "";
    clear: both;
    position: absolute;
    margin-left: 65px;
    margin-top: 30px;
  }

  .log-img p.rx{
    color: #fff;
    font-family: browab;
    font-size: 38px;
    text-transform: uppercase;
    display: block;
    content: "";
    clear: both;
    position: absolute;
    margin-left: 115px;
    
  }




  .h-line h4{
    font-size: 30px;
    line-height: 90px;
    float: left;
  }
  .h-line2 h4{
    font-size: 30px;
  }
  .centered-cedit{
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  .btn-add-cedit{
    border: 4px solid #1b8aed;
    border-radius: 30px;
    padding: 4px 26px;
    color: #000;
    font-size: 30px;
    text-align: center;
    font-family: DBADMANX;
    background-image: linear-gradient(to bottom, #cdcdcd, #d9d9d9, #e4e4e4, #f0f0f0, #fcfcfc); 
    margin-left: 30px;
  }
  .btn-add-cedit2{
    border: 4px solid #b52123;
    border-radius: 30px;
    padding: 4px 26px;
    color: #fff;
    font-size: 30px;
    text-align: center;
    font-family: DBADMANX;
    background-image: linear-gradient(to bottom, #350001, #2c0201, #230201, #180101, #050000);
    margin-left: 30px;
  }

}  

.room-main{
  border:2px solid #208eff;
  padding: 15px;
  border-radius: 60px;
  background: rgba(0,0,0,1);
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 50%, rgba(28,28,28,1) 51%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(50%, rgba(46,46,46,1)), color-stop(51%, rgba(28,28,28,1)), color-stop(71%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 50%, rgba(28,28,28,1) 51%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 50%, rgba(28,28,28,1) 51%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 50%, rgba(28,28,28,1) 51%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 50%, rgba(28,28,28,1) 51%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}


.room-main2{
  border:2px solid #b62123;
  padding: 15px;
  border-radius: 60px;
  background: rgba(0,0,0,1);
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 50%, rgba(28,28,28,1) 51%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(50%, rgba(46,46,46,1)), color-stop(51%, rgba(28,28,28,1)), color-stop(71%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 50%, rgba(28,28,28,1) 51%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 50%, rgba(28,28,28,1) 51%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 50%, rgba(28,28,28,1) 51%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 50%, rgba(28,28,28,1) 51%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}



.btn-close-r:hover{
  color: #fff;
}

.tb-room th, .tb-room td {
  padding: 0.15rem;
  vertical-align: top;
  border-top:none;
}


.tb-room tr td div img{
  width: 100%;
}



.tb-room2 th, .tb-room2 td {
  padding: 0.15rem;
  vertical-align: top;
  border-top:none;
}


.tb-room2 tr td div img{
  width: 100%;
}



.left-btb h3{
  text-align: center;
  color: #fff;
  font-family: DBADMANX;
  font-size: 34px;
}


.h-line{
  margin-top: 50px;
}
.h-line h4{
  font-family: DBADMANX;
 
  color: #fff; 
}




.div-box1{
  border:2px solid #135eab;
  width: 90px;
  height: 90px;
  padding: 6px;
  background-color: #000;
  border-radius: 100%;
  float: left;
  margin-left: 30px;
  margin-right: 40px;
}
.div-box1 div{
  padding: 4px;
  background: rgba(0,0,0,1);
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 50%, rgba(28,28,28,1) 51%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(50%, rgba(46,46,46,1)), color-stop(51%, rgba(28,28,28,1)), color-stop(71%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 50%, rgba(28,28,28,1) 51%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 50%, rgba(28,28,28,1) 51%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 50%, rgba(28,28,28,1) 51%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 50%, rgba(28,28,28,1) 51%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
  border-radius: 100%;
  color: #c09a5e;
  font-family: browab;
  font-size: 48px;
  text-align: center;
  line-height: 60px;
}



.h-line2{
  margin-top: 50px;
}
.h-line2 h4{
  font-family: DBADMANX;
  color: #fff;
  line-height: 90px;
  margin-right: 30px;
  float: left;

}

.div-box2{
  border:2px solid #135eab;
  width: 90px;
  height: 90px;
  padding: 6px;
  background-color: #000;
  border-radius: 100%;
  float: left;
}
.div-box2 div{
  padding: 4px;
  background: rgba(0,0,0,1);
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 50%, rgba(28,28,28,1) 51%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(50%, rgba(46,46,46,1)), color-stop(51%, rgba(28,28,28,1)), color-stop(71%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 50%, rgba(28,28,28,1) 51%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 50%, rgba(28,28,28,1) 51%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 50%, rgba(28,28,28,1) 51%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 50%, rgba(28,28,28,1) 51%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
  border-radius: 100%;
  color: #c09a5e;
  font-family: browab;
  font-size: 48px;
  text-align: center;
  line-height: 60px;
}
.tb-m1{
  max-height:180px;
  display: block;
  overflow-y: scroll;
}
.tb-data th, .tb-data td {
    padding: 0.25rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.tb-data th, .tb-data td {
  border-top: 1px solid transparent;
}
.tb-data thead tr th{
  font-family: DBADMANX;
  font-size: 28px;
  color: #fff;
  text-align: center;
}
.tb-data tfoot tr th{
  font-family: DBADMANX;
  font-size: 28px;
  color: #fff;
  text-align: center;
}
.tb-data tbody tr td{
  font-family: DBADMANX;
  font-size: 24px;
  color: #fff;
  text-align: center;
}
 
div.win{
  content: "";
  background: -moz-linear-gradient(left,  rgba(69,183,0,0) 10%, rgba(69,183,0,0.59) 34%, rgba(69,183,0,1) 51%, rgba(69,183,0,0.4) 76%, rgba(69,183,0,0) 93%);
background: -webkit-linear-gradient(left,  rgba(69,183,0,0) 10%,rgba(69,183,0,0.59) 34%,rgba(69,183,0,1) 51%,rgba(69,183,0,0.4) 76%,rgba(69,183,0,0) 93%);
background: linear-gradient(to right,  rgba(69,183,0,0) 10%,rgba(69,183,0,0.59) 34%,rgba(69,183,0,1) 51%,rgba(69,183,0,0.4) 76%,rgba(69,183,0,0) 93%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0045b700', endColorstr='#0045b700',GradientType=1 );

 
}
div.lose{
  content: "";
  background: -moz-linear-gradient(left,  rgba(199,0,0,0) 10%, rgba(199,0,0,0.61) 35%, rgba(199,0,0,1) 51%, rgba(199,0,0,0.4) 76%, rgba(199,0,0,0) 93%);
background: -webkit-linear-gradient(left,  rgba(199,0,0,0) 10%,rgba(199,0,0,0.61) 35%,rgba(199,0,0,1) 51%,rgba(199,0,0,0.4) 76%,rgba(199,0,0,0) 93%);
background: linear-gradient(to right,  rgba(199,0,0,0) 10%,rgba(199,0,0,0.61) 35%,rgba(199,0,0,1) 51%,rgba(199,0,0,0.4) 76%,rgba(199,0,0,0) 93%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c70000', endColorstr='#00c70000',GradientType=1 );
}

.tb-m1::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.tb-m1::-webkit-scrollbar-track {
  background: #4b4b4b; 
}
 
/* Handle */
.tb-m1::-webkit-scrollbar-thumb {
  background: #fff; 
}

/* Handle on hover */
.tb-m1::-webkit-scrollbar-thumb:hover {
  background: #fff; 
}




.navbar .navbar-brand  {  
  margin:auto;
  display: block;
}
 

.navbar-toggler{
  position: absolute;
  top: 0;
  left: 0;
}
.navbar-toggler i{
  color: #000;
}

.main-menu {
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

.nav-open .main-menu {
  opacity: 1;
  visibility: visible;
  background: rgba(0, 0, 0, 0.9);
}

.main-menu .navbar-nav li a {
  color: #FFF;
  font-size: 20px;
  font-family: Kanit-Regular;
  border-bottom: 1px solid #282828;
}
.main-menu .navbar-nav li.active a {
  color: #f85252;
   
}


.main-menu .navbar-nav li {
   opacity: 0;
   -webkit-transform: translateY(-40px);
   transform: translateY(-40px);
   -webkit-animation-timing-function: cubic-bezier(.45, .005, 0, 1);
   -moz-animation-timing-function: cubic-bezier(.45, .005, 0, 1);
   -o-animation-timing-function: cubic-bezier(.45, .005, 0, 1);
   animation-timing-function: cubic-bezier(.45, .005, 0, 1);
}

.nav-open .main-menu .navbar-nav li {
   opacity: 1;
   -webkit-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition: -webkit-transform .2s, opacity .2s;
   transition: transform .2s, opacity .2s;
} 

.nav-button {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1111;
 
  height: 42px;
  display: block;
  width: 50px;
  padding: 12px;
}

.nav-button #nav-icon3 {
  width: 24px;
  height: 22px;
  display: inline-block;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
   cursor: pointer;
}

.nav-button #nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out
}

.nav-button #nav-icon3 span:nth-child(1) {
  top: 0
}

.nav-button #nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 7px
}

.nav-button #nav-icon3 span:nth-child(4) {
  top: 14px
}

.nav-open #nav-icon3 span:nth-child(1) {
  top: 9px;
  width: 0;
  left: 50%
}

.nav-open #nav-icon3 span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg)
}

.nav-open #nav-icon3 span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.nav-open #nav-icon3 span:nth-child(4) {
  top: 9px;
  width: 0;
  left: 50%
}

.flex-center {
  /*display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;*/
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%
}
.nav-open #nav-icon3 span{
  background-color: #fff;
}

.logo-dv{
  max-width: 300px;
}

.game1{
  background-color: rgba(255,215,57,.5);
}
.game2{
  background-color: rgba(255,83,156,.5);
}
.game3{
  background-color: rgba(56,175,254,.5);
}
.game4{
  background-color: rgba(182,33,35,.5);
}

@media only screen and (max-width: 991px) { /* MOBILE */
  .game1 div img{
    height: 60px;
  }
  .game1 div{
    margin-right: -50px;
  }
  .game2 div{
    margin-left: -50px;
  }
  .game2 div img{
    height: 60px;
  }
  .game3 div{
    margin-right: -50px;
  }
  .game3 div img{
    height: 60px;
  }
  .game4 div{
    margin-left: -50px;
  }
  .game4 div img{
    height: 60px;
  }
  .login-bg{
    background: url("../images/login2.png")   ;
    background-size: cover;
    background-position: top  center;  
    background-repeat: no-repeat;
    height: 80vh;
    background-color: #000;
  }
  .form-login{
    margin-top: 230px;
  }
  .roomModal1 .modal-body form label{
    font-size: 22px;
    padding-top: 10px;
  }
  .roomModal2 .modal-body form label{
    font-size: 22px;
    padding-top: 10px;
  }
  .submitx{
    font-size: 20px;
  }
  .closex{
    font-size: 20px;
  }
  .roomModal1 .modal-body h3{
    font-size: 28px;
  }
  .roomModal2 .modal-body h3{
    font-size: 28px;
  }
}
@media only screen and (min-width: 992px) { /* PC */
  .game1 div img{
    height: 160px;
  }
  .game1 div{
    margin-right: -120px;
  }
  .game2 div{
    margin-left: -120px;
  }
  .game2 div img{
    height: 160px;
  }
  .game3 div{
    margin-right: -120px;
  }
  .game3 div img{
    height: 160px;
  }
  .game4 div{
    margin-left: -120px;
  }
  .game4 div img{
    height: 160px;
  }
  .login-bg{
    background: url("../images/login2.png")   ;
    height:90vh;
    background-size: cover;
    background-position: center center;  
  }
  .form-login{
    margin-top: 345px;
  }
  .roomModal1 .modal-body form label{
    font-size: 45px;
  }
  .roomModal2 .modal-body form label{
    font-size: 45px;
  }
  .submitx{
    font-size: 40px;
    text-align: center; 
  }
  .closex{
    font-size: 40px;
    text-align: center; 
  }
  .roomModal1 .modal-body h3{
    font-size: 58px;
  }
  .roomModal2 .modal-body h3{
    font-size: 58px;
  }
}


@media only screen and (width:320px) { /* IphoenX */ 
  .form-login{
    margin-top: 170px;
  }
}
@media only screen and (width:375px) { /* IphoenX */ 
  .form-login{
    margin-top: 250px;
  }
}
@media only screen and (width:768px) { /* ipad */ 
  .form-login{
    margin-top: 340px;
  }
  .form-login .form-control{
    width: 200px;
    margin-left: 170px;
  }

}
@media only screen and (width:834px) { /* ipad */ 
  .form-login{
    margin-top: 380px;
  }
  .form-login .form-control{
    width: 200px;
    margin-left: 170px;
  }

}

@media only screen and (width:1024px) { /* ipad pro */ 
  .form-login{
    margin-top:540px;
  }
  .form-login .btn-submit{
    margin-left: -20px;
  }
}
@media only screen and (width:1440px) { /* ipad pro */ 
  .form-login{
    margin-top:340px;
  }
 
}

@media only screen and (width:1440px) { /* ipad pro */ 
  .form-login{
    margin-top:340px;
  }
 
}


.form-login .form-control{
  font-family: hemihead; 
  color: #000;
  border: 4px solid #fd49ff;
  border-radius: 8px;
  margin-top: 15px;
  height: 35px;
}

.form-login .btn-submit{
  border:none;
  background-color: transparent;
}

.form-login .btn-submit img{
  width: 180px;
  margin-top: 15px;
}
.roomModal1 .modal-body h3{
  text-transform: uppercase;
  font-family: browab;
  text-align: center;
  color: #fff;
}
.roomModal1 .modal-body form label{
  text-transform: uppercase;
  font-family: DBADMANX;
  color: #fff;
 
}
.roomModal1 .modal-body form input{
  background-color: #122522;
  box-shadow: inset 0px 0px 20px 5px rgba(0,0,0,1);
  border:none;
  height:50px;
  border-radius: 30px;
  margin-top: 10px;
  padding-left: 30px;
  color: #fff;
  font-size: 24px;
  padding-top: 0px;
}
.roomModal1 .modal-body form p{
  text-align: center;
  color: #fff;
  font-family: DBADMANX;
  font-size: 22px;
  margin-top: -15px;
}

.submitx{
  background-image: linear-gradient(to bottom, #14201e, #172624, #1b2d2a, #1e3330, #223a36);
  border:2px solid #0ec400;
  border-radius: 30px;
  color: #fff;
  text-align: center;
  font-family: browab;
  text-transform: uppercase;
  padding: 0px 25px;
  margin-right: 15px;
}
.closex{
  background-image: linear-gradient(to bottom, #14201e, #172624, #1b2d2a, #1e3330, #223a36);
  border:2px solid #ff0000;
  border-radius: 30px;
  color: #fff;
  text-align: center;
  font-family: browab;
  text-transform: uppercase;
  padding: 0px 25px;
  margin-left: 15px;
}

.btn-add-cedit:hover{
  color: #000;
}
.btn-add-cedit2:hover{
  color: #fff;
}



.roomModal2 .modal-body h3{
  text-transform: uppercase;
  font-family: browab;
  text-align: center;
  color: #fff;
}
.roomModal2 .modal-body form label{
  text-transform: uppercase;
  font-family: DBADMANX;
  color: #fff;
}
.roomModal2 .modal-body form input{
  background-color: #0057b6;
  box-shadow: inset 0px 0px 20px 5px rgba(0,0,0,1);
  border:none;
  height:50px;
  border-radius: 30px;
  margin-top: 10px;
  padding-left: 30px;
  color: #fff;
  font-size: 24px;
  padding-top: 0px;
}
.roomModal2 .modal-body form p{
  text-align: center;
  color: #fff;
  font-family: DBADMANX;
  font-size: 22px;
  margin-top: -15px;
}